<article class="post">
    <header>
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <div class="post-meta">
            {{ .Date.Format "Jan 2, 2006" }}
            &#x2022;  
            {{ .FuzzyWordCount }} Words 
            {{ $categories := .GetTerms "categories" }}
            {{ if gt $categories.Len 0}}
                &#x2022;
                {{ range $categories}}
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                {{end}}

            {{ end}}
        </div>
    </header>
    {{ .Summary }}
    <footer>
        <a href='{{ .RelPermalink }}'>Read&nbsp;more&nbsp;&raquo;</a>
    </footer>
</article>